img.circle {
    width: auto;
    height: auto;
    margin: 1ex auto;
    border-radius: 50% !important;
}

ul.sidebar-links {
    font-size: small;
}

ul.sidebar-nav {
    margin-top: 5ex;
}

ul.contact-types {
    list-style: none;

    li {
        p.contact-type {
            margin-bottom: 0;
        }

        p.contact-info {
            margin-left: 2em;
        }
    }
}