{% extends "layout.html" %}

{% block content %}
<div class="presentation">
    <h1>Présentation</h1>
    <p>
        Je suis attaché temporaire d'enseignements et de recherches (ATER) à <a
            href="https://www.univ-orleans.fr">l'université d'Orléans</a>. J'effectue mes
        missions d'enseignement au
        <a href="https://www.univ-orleans.fr/fr/iut-orleans/formation/informatique">département informatique de l'IUT
            d'Orléans</a> et mes recherches au
        <a href="https://www.univ-orleans.fr/lifo">Laboratoire d'Informatique Fondamentale d'Orléans (LIFO)</a>.
    </p>
    <p>
        Ma thèse, dirigée par <a href="https://sites.google.com/site/guillaumecleuzioulifo/">Guillaume
            Cleuziou</a>,
        s'intitule
        &laquo; Apprentissage d'espaces prétopologiques pour l'extraction de connaissances structurées &raquo;.
    </p>
</div>

<div class="contact">
    <h1>Me contacter</h1>

    <ul class="contact-types">
        <li>
            <p class="contact-type">
                <span class="fas fa-at" aria-hidden="true"></span>
                Par courrier électronique :
            </p>
            <p class="contact-info">
                <a href="mailto://{{ config.extra.email }}">{{ config.extra.email }}</a>
            </p>
        </li>

        <li>
            <p class="contact-type">
                <span class="fas fa-phone" aria-hidden="true"></span>
                Par téléphone, au LIFO
            </p>
            <p class="contact-info">
                <a href="tel:{{ config.extra.phone | replace(from = ' ', to = '') }}">{{ config.extra.phone }}</a>
            </p>
        </li>

        <li>
            <p class="contact-type">
                <span class="fas fa-mobile-alt" aria-hidden="true"></span>
                Par téléphone, sur mon mobile :
            </p>
            <p class="contact-info">
                <a href="tel:{{ config.extra.mobile | replace(from = ' ', to = '') }}">{{ config.extra.phone }}</a>
            </p>
        </li>

        <li>
            <p class="contact-type">
                <span class="fas fa-envelope" aria-hidden="true"></span>
                Par courrier
            </p>
            <p class="contact-info">
                Gaëtan Caillaut<br />
                LIFO - Bâtiment IIIA<br />
                Rue Léonard de Vinci<br />
                B.P. 6759<br />
                45067 ORLEANS Cedex 2<br />
                France
            </p>
        </li>
    </ul>
</div>
{% endblock content %}